<div class="col-md-4 product-card">
  <div class="card {%NOT_ORGANIC%}">
    <div class="card-body">
      <h5 class="card-title">{%PRODUCT_NAME%}</h5>
      <p class="card-text">السعر: {%PRICE%} ريال</p>
      <p class="card-text">الكمية: {%QUANTITY%}</p>
      <p class="card-text">المصدر: {%FROM%}</p>
      <p class="card-text">{%NUTRIENTS%}</p>
      <a href="/product?id={%ID%}" class="btn btn-primary">التفاصيل</a>
    </div>
  </div>
</div>
